.gradient {
    background: linear-gradient(135deg, #F4512C, #5E1B89);
}

.brand {
    cursor: default;
}

.img {
    width: 200px;
    height: 30px;
}

.font-dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    color: #F8FFFE;
}